{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}

    <link href="{% static 'css/cam.css' %}" rel="stylesheet" />
    <link rel="icon" href="https://img.icons8.com/material/4ac144/256/user-male.png" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js"></script>

{% endblock %}


{% block content %}

    <div class="CapturePlayer">
        <video id="player" controls autoplay></video>
    </div>
<Br>
    <center>
        <button id="capture" class="captureBtn">Capture</button>
        <Br>
        <!-- <input type="file" /> -->
    </center>
<Br>
    <div class="overlay none" id="overlay">

        <div class="close" id="closeBtn">&times;</div>
        <br><br>
        <font class="overlayHead">ScreenShot Saved</font>
        <div class="canvasBorder">
            <canvas id="canvas" width=320 height=240></canvas>
        </div>
        <Br><br>
        <a class="captureBtn" id="saveCapturedImage" download="test1.jpeg">Save</a>

            
        <form method="POST" action="{% url 'captureImage' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="image" value="" id="file" />
            <input type="file" id="file" name="input" value="" class="input"/>
            <input type="submit" value="UPLOAD" id="upload" class="inputBtn none" />
        </form>
    </div>


{% endblock %}


{% block footer %}

    <script src="{% static 'js/cam.js' %}"></script>

    <script>

        document.getElementById("saveCapturedImage").addEventListener(
            "click",
            ()=>{
                document.getElementById("saveCapturedImage").download="test1.jpeg";
                var data = document.getElementById("canvas").toDataURL("image/jpeg").replace(/^data:image\/[^;]/, 'data:application/octet-stream');
                document.getElementById("saveCapturedImage").href=data;
                document.getElementById("file").value = data;
                setTimeout(
                    () => {
                        document.getElementById("upload").classList.remove("none");
                    },
                    500
                );
                document.getElementById("saveCapturedImage").classList.add("none");

            }
        );

        // var canvas1 = document.getElementById("canvas");

        // document.getElementById("saveCapturedImage").addEventListener("click",
        //     () => {
        //         var canvasData = canvas1.toDataURL("image/png");
        //         var file = dataURItoBlob(canvasData);
        //         // document.getElementById("file").value = canvasData;
        //         document.getElementById("test").innerHTML = file;
        //     //     $.ajax({
        //     //     url:"/captureImage",
        //     //     data:{
        //     //         "image":canvasData
        //     //     },
        //     //     dataType: 'json',
        //     //     success: function (data) {
        //     //         swal("Awesome!", "Your Image has been uploaded", "success");
                    
        //     //     }
        //     // });
        //     }
        // )

    </script>

{% endblock %}