{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}

    <link href="{% static 'css/cam.css' %}" rel="stylesheet" />

{% endblock %}


{% block content %}

    <div class="CapturePlayer">
        <video id="player" controls autoplay></video>
    </div>
<Br>
    <center>
        <button id="capture" class="captureBtn">Capture</button>
    </center>
<Br>
    <div class="overlay none" id="overlay">

        <div class="close" id="closeBtn">&times;</div>
        <br><br>
        <font class="overlayHead">ScreenShot Saved</font>
        <div class="canvasBorder">
            <canvas id="canvas" width=320 height=240></canvas>
        </div>
        <Br><br>
        <button class="captureBtn" id="saveCapturedImage">Save</button>
    </div>


{% endblock %}


{% block footer %}

    <script src="{% static 'js/cam.js' %}"></script>

{% endblock %}